<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
    <h1>Đã có lỗi xảy ra!</h1>
    <p>Chúng tôi đang sửa chữa hệ thống, vui lòng quay lại sau!</p>

<%- include('./includes/end.ejs') %>