.form-control input.invalid, .form-control textarea.invalid, .form-control select.invalid {
    border-color:red
  }
input.invalid {
    border-color:red
}
.user-message {
    margin: auto;
    margin-bottom: 0.5rem;
    width: 90%;
    border: 1px solid #4771fa;
    padding: 0.5rem;
    border-radius: 3px;
    background: #b9c9ff;
    text-align: center;
}
  
.user-message--error {
    border-color: red;
    background: rgb(255, 176, 176);
    color: red;
}